@page
@model Web_Market.Pages.My_AdsModel
@{
    ViewData["Title"] = "Product";
    Layout = "_Layout";
}

<!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

<div class="preloader">
    <div class="loader">
        <div class="ytp-spinner">
            <div class="ytp-spinner-container">
                <div class="ytp-spinner-rotator">
                    <div class="ytp-spinner-left">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                    <div class="ytp-spinner-right">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<section class="banner-area bg_cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-content">
                    <h1 class="text-white">
                        My Ads
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Ads</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="dashboard-area pb-110">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="left-sidebar-wrapper box-style">
                    <div class="sidebar-menu">
                        <nav>
                            <ul>
                                <li>
                                    <a asp-page="/admin/dashboard"><i class="lni lni-dashboard"></i>Dashboard</a>
                                </li>
                                <li>
                                    <a asp-page="profile_settings"><i class="lni lni-cog"></i>Profile Settings</a>
                                </li>
                                <li>
                                    <a asp-page="post_ads"><i class="lni lni-cog"></i>Post Ad</a>
                                </li>
                                <li>
                                    <a asp-page="my_ads" class="active"><i class="lni lni-layers"></i>My Ads</a>
                                </li>
                                <li>
                                    <a asp-page="mycart"><i class="lni lni-layers"></i>My Cart</a>
                                </li>
                                <li>
                                    <a asp-page="offer"><i class="lni lni-envelope"></i>Offers / Message</a>
                                </li>
                                <li>
                                    <a asp-page="payments"><i class="lni lni-paypal"></i>Payments</a>
                                </li>
                                <li>
                                    <a asp-page="favorites"><i class="lni lni-heart"></i>My Favorites</a>
                                </li>
                                <li>
                                    <a asp-page="privacy"><i class="lni lni-star"></i>Privacy Settings</a>
                                </li>
                                <li>
                                    <a asp-page="login" asp-page-handler="signout"><i class="lni lni-exit"></i>Sign Out</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="dashboard-wrapper box-style">
                    <div class="title">
                        <h3>My Ads</h3>
                        <a asp-page="my_ads" class="btn btn-success">Refresh</a>
                    </div>
                    <div class="table-wrapper table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Photo
                                    </th>
                                    <th width="20%">
                                        Name
                                    </th>
                                    <th width="30%">
                                        Category
                                    </th>
                                    <th>
                                        Ad Status
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var o in Model.listProduct)
                                {
                                    <tr>
                                        <td>
                                            <div class="image">
                                                @{
                                                    var img = o.Image.Split(';')[0];
                                                }
                                                
                                                <img src="@img" width="100" alt="">
                                            </div>
                                        </td>
                                        <td width="20%">
                                            <h6>@o.ProductName</h6>
                                        </td>
                                        <td width="30%">
                                            @{
                                                var cate = o.ProductCategory.Split(";").ToList();
                                                var name = "";
                                                foreach(var c in cate)
                                                {
                                                    name += Model.listCategories
                                                    .FirstOrDefault(x=> x.CategoryId == int.Parse(c))
                                                    .CategoryName + "; ";
                                                }
                                            }
                                            @name.Trim()
                                        </td>
                                        <td>
                                            @if (!o.IsActive)
                                            {
                                                <span class="badge rounded-pill bg-danger">Banded</span>
                                            }
                                            else
                                            {
                                                <span class="badge rounded-pill bg-success">Active</span>
                                            }
                                        </td>
                                        <td>
                                            <p>$@o.Price</p>
                                        </td>
                                        <td>
                                            <div class="action-btns">
                                                <a asp-page="product_detail" class="eye-btn" asp-route-id="@o.ProductId"><i class="lni lni-eye"></i></a>
                                                <a asp-page="editproduct" asp-route-id="@o.ProductId" class="edit-btn"><i class="lni lni-pencil"></i></a>
                                                <a onclick="sayThankyou(@o.ProductId)" class="delete-btn"><i class="lni lni-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<a href="#" class="back-to-top btn-hover"><i class="lni lni-chevron-up"></i></a>




<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("editProduct");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
<script>
    function sayThankyou(idProduct) {
        $.ajax({
            url: '/My_Ads?handler=Delete', // URL của Razor Page handler
            type: 'POST',  // phương thức gửi request
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: { id: idProduct }, // dữ liệu gửi đi
            success: function (result) {
                if (JSON.parse(result) == true) {
                    swal("Thank you alot!", "Delete Done", "success");
                } else {
                    swal("Thank you alot!", "Delete False", "error");
                }
            },
            error: function (xhr, status, error) {
                swal("Thank you alot!", "Delete False", "error");
            }
        });
    }
    function event(){
        $.ajax({
            url: '/My_Ads', // URL của Razor Page handler
            type: 'GET',  // phương thức gửi request
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (result) {
            },
            error: function (xhr, status, error) {
                swal("Thank you alot!", "Delete False", "error");
            }
        });
    }
</script>

