@page
@model Web_Market.Pages.MyCartModel
@{
}
<div class="preloader">
    <div class="loader">
        <div class="ytp-spinner">
            <div class="ytp-spinner-container">
                <div class="ytp-spinner-rotator">
                    <div class="ytp-spinner-left">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                    <div class="ytp-spinner-right">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="banner-area bg_cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-content">
                    <h1 class="text-white">All Categories</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-page="/index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Category</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="dashboard-area pb-110">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="left-sidebar-wrapper box-style">

                    <div class="sidebar-menu">
                        <nav>
                            <ul>
                                <li>
                                    <a asp-page="/admin/dashboard"><i class="lni lni-dashboard"></i>Dashboard</a>
                                </li>
                                <li>
                                    <a asp-page="profile_settings"><i class="lni lni-cog"></i>Profile Settings</a>
                                </li>
                                <li>
                                    <a asp-page="post_ads"><i class="lni lni-cog"></i>Post Ad</a>
                                </li>
                                <li>
                                    <a asp-page="my_ads"><i class="lni lni-layers"></i>My Ads</a>
                                </li>
                                <li>
                                    <a asp-page="mycart" class="active"><i class="lni lni-layers"></i>My Cart</a>
                                </li>
                                <li>
                                    <a asp-page="offer"><i class="lni lni-envelope"></i>Offers / Message</a>
                                </li>
                                <li>
                                    <a asp-page="payments"><i class="lni lni-paypal"></i>Payments</a>
                                </li>
                                <li>
                                    <a asp-page="favorites"><i class="lni lni-heart"></i>My Favorites</a>
                                </li>
                                <li>
                                    <a asp-page="privacy"><i class="lni lni-star"></i>Privacy Settings</a>
                                </li>
                                <li>
                                    <a asp-page="login" asp-page-handler="signout">
                                        <i class="lni lni-exit"></i>Sign
                                        Out
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="dashboard-wrapper box-style">
                    <div class="title">
                        <h3>My Cart</h3>
                    </div>
                    @{

                        double sum = 0;
                        double totalFinal = 0;
                        double tax = 0;
                    }
                    @if (Model.product != null)
                    {

                        @foreach (var p in Model.product)
                        {
                           var img = p.Image.Split(';')[0];
                            
                            <div class="product-container">
                                <article class="product">
                                    <header>
                                        <a class="remove">
                                            <img src="@img" alt="@p.ProductName">

                                            <h3>Remove</h3>
                                        </a>
                                    </header>

                                    <div class="content">
                                        <h1>@p.ProductName</h1>
                                        @p.ProductDescription
                                    </div>

                                    <footer class="content">
                                        <span class="qt-minus">-</span>
                                        <span class="qt">@p.Quantity</span>
                                        <span class="qt-plus">+</span>
                                        @{
                                            var total = p.Quantity * p.Price;
                                            sum += total;
                                        }
                                        <h2 class="full-price">
                                            @total$
                                        </h2>

                                        <h2 class="price">
                                            @p.Price $
                                        </h2>
                                    </footer>
                                </article>
                            </div>
                        }
                        tax = Math.Floor(sum * 0.05 * 100) / 100;
                        totalFinal = Math.Floor((sum + tax) * 100) / 100;
                    }
                </div>
                <div class="dashboard-wrapper box-style">
                    <footer id="site-footer">
                        <div class="container clearfix">

                            <div class="left">
                                <h2 class="subtotal">Subtotal: <span>@sum</span>$</h2>
                                <h3 class="tax">Taxes (5%): <span>@tax</span>$</h3>
                            </div>

                            <div class="right">
                                <h1 class="total">Total: <span>@totalFinal</span>$</h1>
                                <a class="btn" asp-page="payments" asp-page-handler="">Checkout</a>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function changeVal(el) {
        var qt = parseFloat(el.parent().children(".qt").html());
        var price = parseFloat(el.parent().children(".price").html());
        var eq = Math.round(price * qt * 100) / 100;

        el.parent().children(".full-price").html(eq + "$");

        changeTotal();
    }

    function changeTotal() {

        var price = 0;

        $(".full-price").each(function (index) {
            price += parseFloat($(".full-price").eq(index).html());
        });

        price = Math.round(price * 100) / 100;
        var tax = Math.round(price * 0.05 * 100) / 100
        var fullPrice = Math.round((price + tax) * 100) / 100;

        if (price == 0) {
            fullPrice = 0;
        }

        $(".subtotal span").html(price);
        $(".tax span").html(tax);
        $(".total span").html(fullPrice);
    }
</script>