@page
@model Web_Market.Pages.PaymentsModel
@{
    ViewData["Title"] = "Payments";
    Layout = "_Layout";
}

<!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
<style>
    .btn-send-otp {
        width: 300px;
    }

    .form-otp {
        position: absolute;
        top: 470px;
        right: 166px;
    }
</style>
<div class="preloader">
    <div class="loader">
        <div class="ytp-spinner">
            <div class="ytp-spinner-container">
                <div class="ytp-spinner-rotator">
                    <div class="ytp-spinner-left">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                    <div class="ytp-spinner-right">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="banner-area bg_cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-content">
                    <h1 class="text-white">Payments</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-page="index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Payments</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="dashboard-area pb-110">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="left-sidebar-wrapper box-style">

                    <div class="sidebar-menu">
                        <nav>
                            <ul>
                                <li>
                                    <a asp-page="/admin/dashboard"><i class="lni lni-dashboard"></i>Dashboard</a>
                                </li>
                                <li>
                                    <a asp-page="profile_settings"><i class="lni lni-cog"></i>Profile Settings</a>
                                </li>
                                <li>
                                    <a asp-page="post_ads"><i class="lni lni-cog"></i>Post Ad</a>
                                </li>
                                <li>
                                    <a asp-page="my_ads"><i class="lni lni-layers"></i>My Ads</a>
                                </li>
                                <li>
                                    <a asp-page="mycart"><i class="lni lni-layers"></i>My Cart</a>
                                </li>
                                <li>
                                    <a asp-page="offer"><i class="lni lni-envelope"></i>Offers / Message</a>
                                </li>
                                <li>
                                    <a asp-page="payments" class="active"><i class="lni lni-paypal"></i>Payments</a>
                                </li>
                                <li>
                                    <a asp-page="favorites"><i class="lni lni-heart"></i>My Favorites</a>
                                </li>
                                <li>
                                    <a asp-page="privacy"><i class="lni lni-star"></i>Privacy Settings</a>
                                </li>
                                <li>
                                    <a asp-page="login" asp-page-handler="signout"><i class="lni lni-exit"></i>Sign Out</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="dashboard-wrapper box-style">
                    <div class="title">
                        <h3>Payments</h3>
                    </div>
                    <div class="payments-wrapper">
                        <form method="post" name="myForm" onsubmit="return validateForm()">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="left-wrapper box-style mb-30">
                                        <h5 class="mb-25">Your Order</h5>
                                        <ul class="checkout">
                                            @{

                                                double sum = 0;
                                                double totalFinal = 0;
                                                double tax = 0;
                                            }
                                            <li>
                                                <h6 style="width: 30% !important;">Product</h6>
                                                <h6>Quantity</h6>
                                                <h6>Total</h6>
                                            </li>
                                            @{if (Model.product != null)
                                            {

                                                @foreach (var p in Model.product)
                                                {
                                                    <input name="arrayId" type="hidden" value="@p.ProductId">
                                                    <input name="quantity" type="hidden" value="@p.Quantity">
                                                    <li>
                                                        <p style="width: 30% !important;">@p.ProductName</p>
                                                        <p>@p.Quantity</p>
                                                        <p>@p.Price</p>
                                                    </li>
                                            
                                            <li>
                                                <h6>SubTotal</h6>
                                                @{
                                                    var total = p.Quantity * p.Price;
                                                    sum += total;
                                                }
                                                            <p class="fw-bold"> $ @total</p>
                                            </li>
                                                    tax = Math.Floor(sum * 0.05 * 100) / 100;
                                                    totalFinal = Math.Floor((sum + tax + 10) * 100) / 100;
                                                }
                                            }}
                                            <li>
                                                <h6>Shipping</h6>
                                                <div class="right">
                                                    @*<div class="mb-2 text-right d-block">
                                                        <div class="form-check check-style">
                                                            <input class="form-check-input" type="checkbox" value="none" id="flexCheckDefault1">
                                                            <label for="flexCheckDefault1">Free Shipping</label>
                                                        </div>
                                                    </div>*@
                                                    <div class="text-right d-block">
                                                        <div class="form-check check-style fst-italic" style="margin-right: 0px !important;">
                                                            <span for="flexCheckDefault2"> $10.00</span><br />
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <h6>Tax (5%):</h6>
                                                <div class="right">
                                                    <div class="text-right d-block">
                                                        <div class="form-check check-style fst-italic" style="margin-right: 0px !important;">
                                                            <span for="flexCheckDefault2"> $@tax</span><br />
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <h6>Total</h6>
                                                <p class="fst-italic">$ @sum.ToString("C1")</p>
                                            </li>
                                            
                                        </ul>   
                                    </div>
                                    <div class="box-style">
                                        <div class="mb-20 d-flex justify-content-between">
                                            <h3>Grand Total: </h3>
                                            <h3 class="text-success">$@totalFinal.ToString("C1")</h3>
                                        </div>
                                        <button type="submit" class="main-btn btn-hover btn-block">Place Order</button>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="right-wrapper box-style mb-30">
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label for="firstName">First name</label>
                                                <input type="text" name="fname" class="form-control" id="firstName" placeholder="" value="">
                                                <div class="invalid-feedback"> Valid first name is required. </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="lastName">Last name</label>
                                                <input type="text" class="form-control" id="lastName" name="lname" placeholder="" value="">
                                                <div class="invalid-feedback"> Valid last name is required. </div>
                                            </div>
                                        </div>
                                        
                                        <div class="mb-3">
                                            <label for="email">Email <span class="text-muted">(Optional)</span></label>
                                            <input type="email" class="form-control" id="email" value="@Model.account.Email" disabled>
                                            <div class="invalid-feedback"> Please enter a valid email address for shipping updates. </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="address">Address</label>
                                            <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St">
                                            <div class="invalid-feedback"> Please enter your shipping address. </div>
                                        </div>

                                        <div class="mb-3">
                                            <label for="address">OTP</label>
                                            <input type="text" class="form-control" id="otpUserInput" name="otpUserInput" placeholder="1234" required="">
                                            <div class="invalid-feedback"> Please enter your OTP. </div>
                                            
                                        </div>
                                       
                                        <hr class="mb-4">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form method="post" class="form-otp">
                            <input type="text" name="sendOTP" hidden value="true" />
                            <input type="submit" class="form-control btn-send-otp" id="otpsubmit" name="otpsubmit" value="Verify mail"> 
                        </form>
                        @if (ViewBag.notifycationFailOtp != null)
                        {
                            <span style="color: red;"> @ViewBag.nonotifycationFailOtp</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<a href="#" class="back-to-top btn-hover"><i class="lni lni-chevron-up"></i></a>
