@page
@model Web_Market.Pages.Product_DetailModel
@{
    ViewData["Title"] = "Product: " + Model.product.ProductName;
}

<!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

<div class="preloader">
    <div class="loader">
        <div class="ytp-spinner">
            <div class="ytp-spinner-container">
                <div class="ytp-spinner-rotator">
                    <div class="ytp-spinner-left">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                    <div class="ytp-spinner-right">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<section class="banner-area bg_cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-content">
                    <h1 class="text-white">Product Details</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Product</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="product-details-area">
    <div class="container">
        <div class="product-details-wrapper box-style">
            <div class="info-wrapper">
                <div class="showcase-wrapper">
                    <div class="row">
                        <div class="order-last col-lg-2 col-xl-2 order-lg-first">
                            <div class="nav flex-lg-column nav-pills thumb-img-wrapper" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="thumb-img active" id="v-pills-tab-1" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">
                                    <img src="@Model.image_cut[0]" alt="">
                                </a>
                                <a class="thumb-img" id="v-pills-tab-2" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">
                                    <img src="@Model.image_cut[1]" alt="">
                                </a>
                                <a class="thumb-img" id="v-pills-tab-3" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">
                                    <img src="@Model.image_cut[2]" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-10 col-xl-10">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-tab-1">
                                    <div class="showcase-img">
                                        <img src="@Model.image_cut[0]" alt="" width="100" height="500">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-tab-2">
                                    <div class="showcase-img">
                                        <img src="@Model.image_cut[1]" alt="">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-tab-3">
                                    <div class="showcase-img">
                                        <img src="@Model.image_cut[2]" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-wrapper">
                    <div class="mb-20 meta-top">
                        <a href="javascript:void(0)" class="mr-3 date">
                            <i class="mr-2 lni lni-calendar"></i>
                            @{
                                DateTime d = Convert.ToDateTime(Model.product.ImportDay);
                                <span>@d.ToString("dd/MM/yyyy")</span>
                            }
                        </a>
                        <a href="javascript:void(0)" class="address"><i class="mr-2 lni lni-map-marker"></i> Việt Nam</a>
                    </div>
                    <h3 class="title mb-25">@Model.product.ProductName</h3>
                    <p class="description mb-30">
                        
                    </p>
                    <h5 class="subtitle">Specification:</h5>
                    <div class="specification">
                        <ul style="width: 100% !important;">
                            <li class="fs-5"><i class="lni lni-dollar"></i><span class="text-success font-weight-bold">@Model.product.Price</span></li>

                            <li>
                                <i class="lni lni-comments-alt"></i>
                                @Model.product.ProductDescription
                            </li>
                        </ul>
                    </div>
                    <div class="meta-bottom">
                        <ul>
                            <li>
                                <i class="lni lni-folder"></i> <span>Categories: </span> 
                                @foreach (var o in Model.listCategory)
                                {
                                    <a class="badge bg-secondary text-white rounded-pill fs-6" asp-page="index"
                                   asp-route-category="@o.CategoryId">@o.CategoryName</a>
                                }
                            </li>
                      
                            <li>
                                <i class="lni lni-apple"></i> <span>Brand:</span> 
                                <a class="badge bg-secondary text-white rounded-pill fs-6" asp-page="index" asp-route-company="@Model.companyName.CompanyId">
                                    @Model.companyName.Name
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<a href="#" class="back-to-top btn-hover"><i class="lni lni-chevron-up"></i></a>
