@page
@model Web_Market.Pages.Product_DetailModel
@{
}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">

    <title>Product Details | ClassiList Classified Ads Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="~/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/css/tiny-slider.css">

    <link rel="stylesheet" href="~/css/glightbox.min.css">

    <link rel="stylesheet" href="~/css/LineIcons.2.0.css">

    <link rel="stylesheet" href="~/css/selectr.css">

    <link rel="stylesheet" href="~/css/nouislider.css">

    <link rel="stylesheet" href="~/css/bootstrap-5.0.5-alpha.min.css">

    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <!--[if IE]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <section class="banner-area bg_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <h1 class="text-white">Product Details</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Product</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="product-details-area">
        <div class="container">
            <div class="product-details-wrapper box-style">
                <div class="info-wrapper">
                    <div class="showcase-wrapper">
                        <div class="row">
                            <div class="order-last col-lg-2 col-xl-2 order-lg-first">
                                <div class="nav flex-lg-column nav-pills thumb-img-wrapper" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <a class="thumb-img active" id="v-pills-tab-1" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">
                                        <img src="https://static.8cache.com/cover/eJwFwcmyqjoAAMAvop7KEFi8BQkzqIDoATZWohAMQxBk_Prb3VTif02yj5_RPeOcpKqkzBcQ8kivWFJ5iOm6DMJMVctAHqV2KiTh735BqYv4l6j41ByBknute7Cwx3JPmHZpN2e3KQDfDsWqPpZBIhGNnY8-t_ExoorxpLePJQpNbqmckz6VYrhI9sHanpvgwM7NVM-UVDbluTOfbbD4hyzDSmTIUCD3JvPsRCHT64fyfJBzOE7wPJspDCjfLbMUM5rS9gRr8qndsMQp_CueHSPfetZsGxkPXJ3HsKOSILlg0hJn9KbagY2_r7O4saMDkjmLA7nCgnM0VOmd-gOoF-qt8858jBJfPwX0rdHkNi27ulTfNzACtSTcDmP9VTsgbR9oJhYxYx63FPY_Z5USuNt2T7J6kYeVXdE42UK1ZGwn8-BrPQM4kRNFZ0Z5BYohvbJvUTZ2wwvNAW6bD766Iuyi7CLz9CAp1gmm7Pvbowc4UaZ3o4Hu5ydqsH5kz_etnPoRnMzrhYe_Ugj-LtB3itY6YpL4IP_Cbn3BMM-OP1lrSU_fIOXVLoronm0mvM92WpHAr_vrMz237gWjPUnE295zv-rtpu0Au7bXLcIzrc0x-Al6CFascSgVqyFcOCO4sb7dixIfd5oyRLbjxGU0GgFaH32rI9Dmv314oKlidxLw1-nJg_4ef6rRcPDezeKMqbt9_IOmBoqvneH_4-EfCgTlIA==/hong-lau-mong.jpg" alt="">
                                    </a>
                                    <a class="thumb-img" id="v-pills-tab-2" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">
                                        <img src="https://tinhhoa.net/wp-content/uploads/2019/05/0-1-e1564558569971.jpg" alt="">
                                    </a>
                                    <a class="thumb-img" id="v-pills-tab-3" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">
                                        <img src="https://znews-photo.zingcdn.me/w660/Uploaded/kbd_pilk/2022_05_03/hong_lau_mong5.jpeg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-10 col-xl-10">
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-tab-1">
                                        <div class="showcase-img">
                                            <img src="https://static.8cache.com/cover/eJwFwcmyqjoAAMAvop7KEFi8BQkzqIDoATZWohAMQxBk_Prb3VTif02yj5_RPeOcpKqkzBcQ8kivWFJ5iOm6DMJMVctAHqV2KiTh735BqYv4l6j41ByBknute7Cwx3JPmHZpN2e3KQDfDsWqPpZBIhGNnY8-t_ExoorxpLePJQpNbqmckz6VYrhI9sHanpvgwM7NVM-UVDbluTOfbbD4hyzDSmTIUCD3JvPsRCHT64fyfJBzOE7wPJspDCjfLbMUM5rS9gRr8qndsMQp_CueHSPfetZsGxkPXJ3HsKOSILlg0hJn9KbagY2_r7O4saMDkjmLA7nCgnM0VOmd-gOoF-qt8858jBJfPwX0rdHkNi27ulTfNzACtSTcDmP9VTsgbR9oJhYxYx63FPY_Z5USuNt2T7J6kYeVXdE42UK1ZGwn8-BrPQM4kRNFZ0Z5BYohvbJvUTZ2wwvNAW6bD766Iuyi7CLz9CAp1gmm7Pvbowc4UaZ3o4Hu5ydqsH5kz_etnPoRnMzrhYe_Ugj-LtB3itY6YpL4IP_Cbn3BMM-OP1lrSU_fIOXVLoronm0mvM92WpHAr_vrMz237gWjPUnE295zv-rtpu0Au7bXLcIzrc0x-Al6CFascSgVqyFcOCO4sb7dixIfd5oyRLbjxGU0GgFaH32rI9Dmv314oKlidxLw1-nJg_4ef6rRcPDezeKMqbt9_IOmBoqvneH_4-EfCgTlIA==/hong-lau-mong.jpg" alt="" width="100" height="500">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-tab-2">
                                        <div class="showcase-img">
                                            <img src="https://tinhhoa.net/wp-content/uploads/2019/05/0-1-e1564558569971.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-tab-3">
                                        <div class="showcase-img">
                                            <img src="https://znews-photo.zingcdn.me/w660/Uploaded/kbd_pilk/2022_05_03/hong_lau_mong5.jpeg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-wrapper">
                        <div class="mb-20 meta-top">
                            <a href="javascript:void(0)" class="mr-3 date"><i class="mr-2 lni lni-calendar"></i> 
                                @{
                                    DateTime d = Convert.ToDateTime(Model.product.ImportDay);
                                    <p>@d.ToString("dd/mm/yyyy")</p>
                                }
                            </a>
                            <a href="javascript:void(0)" class="address"><i class="mr-2 lni lni-map-marker"></i> Việt Nam</a>
                        </div>
                        <h3 class="title mb-25">@Model.product.ProductName</h3>
                        <p class="description mb-30">
                            @Model.product.ProductDescription
                        </p>
                        <h5 class="subtitle">Specification:</h5>
                        <div class="specification">
                            <ul>
                                <li><i class="lni lni-checkmark-circle"></i>@Model.product.Price .000</li>
                                <li><i class="lni lni-checkmark-circle"></i>@Model.categoryname</li>
                                <li><i class="lni lni-checkmark-circle"></i>@Model.product.CompanyId</li>
                            </ul>
                          @*  <ul>
                                <li><i class="lni lni-checkmark-circle"></i>2.7 GHz dual-core Intel Core i5</li>
                                <li><i class="lni lni-checkmark-circle"></i>Iris Graphics 6100 8GB memory</li>
                                <li><i class="lni lni-checkmark-circle"></i>8GB memory</li>
                                <li><i class="lni lni-checkmark-circle"></i>1 Year international warranty</li>
                            </ul>*@
                        </div>
                        <div class="meta-bottom">
                            <ul>
                                <li>
                                    <i class="lni lni-folder"></i> <span>Categories: </span> <a href="javascript:void(0)">Electronics</a>
                                </li>
                                <li>
                                    <i class="lni lni-link"></i> <span>Categories: </span> <a href="javascript:void(0)">Electronics</a>
                                </li>
                                <li>
                                    <i class="lni lni-apple"></i> <span>Brand: </span> <a href="javascript:void(0)">Apple</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="footer-area">
        <div class="widget-wrapper">
            <div class="map-img">
                <img src="~/images/footer/map-img.svg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-7">
                        <div class="footer-widget about">
                            <a href="index.html" class="d-inline-block mb-30">
                                <img src="~/images/logo/logo.svg" alt="">
                            </a>
                            <p class="text-white mb-25">Buy And Sell Everything From Used Cars To Mobile Phones And Computers, Search For Property, Jobs And More</p>
                            <ul class="social">
                                <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-twitter-filled"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-instagram-filled"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 order-md-2 order-xl-1 col-sm-6">
                        <div class="footer-widget">
                            <h4>Quick Link</h4>
                            <ul class="link">
                                <li><a href="javascript:void(0)">Home</a></li>
                                <li><a href="javascript:void(0)">About</a></li>
                                <li><a href="javascript:void(0)">Category</a></li>
                                <li><a href="javascript:void(0)">Product details</a></li>
                                <li><a href="javascript:void(0)">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 order-md-3 order-xl-2 col-sm-6">
                        <div class="footer-widget">
                            <h4>Support</h4>
                            <ul class="link">
                                <li><a href="javascript:void(0)">Live Chat</a></li>
                                <li><a href="javascript:void(0)">Privacy Policy</a></li>
                                <li><a href="javascript:void(0)">Purchase</a></li>
                                <li><a href="javascript:void(0)">Protection</a></li>
                                <li><a href="javascript:void(0)">Support</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 order-md-4 order-xl-3 col-sm-6">
                        <div class="footer-widget">
                            <h4>Information</h4>
                            <ul class="link">
                                <li><a href="javascript:void(0)">Company</a></li>
                                <li><a href="javascript:void(0)">Contact Info</a></li>
                                <li><a href="javascript:void(0)">Blog & Articles</a></li>
                                <li><a href="javascript:void(0)">Terms of Service</a></li>
                                <li><a href="javascript:void(0)">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-5 order-md-1 order-xl-4 col-sm-6">
                        <div class="footer-widget">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <span>Phone:</span>
                                    0345983672937
                                </li>
                                <li>
                                    <span>Email:</span>
                                    <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="3f46504a4d525e56537f58525e5653115c5052">[email&#160;protected]</a>
                                </li>
                                <li>
                                    <span>Location:</span>
                                    United State of America
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <p>Designed & Developed By <a href="https://graygrids.com/" rel="nofollow" target="_blank">GrayGrids</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <a href="#" class="back-to-top btn-hover"><i class="lni lni-chevron-up"></i></a>


    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/js/bootstrap.bundle-5.0.0.alpha-min.js"></script>

    <script src="~/js/tiny-slider.js"></script>

    <script src="~/js/wow.min.js"></script>

    <script src="~/js/glightbox.min.js"></script>

    <script src="~/js/selectr.min.js"></script>

    <script src="~/js/nouislider.js"></script>

    <script src="~/js/main.js"></script>
</body>
</html>