@page
@model Web_Market.Pages.Admin.profilesettingModel
@{
    Layout = "_Layout";
}

<section class="banner-area bg_cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-content">
                    <h1 class="text-white">Profile Settings</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-page="index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Profile setting</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="dashboard-area pb-110">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="left-sidebar-wrapper box-style">
                    <div class="sidebar-header">
                        <div class="info">
                            <h3>HEllO,Admin. Wellcome back!</h3>
                        </div>
                    </div>
                    <div class="sidebar-menu">
                        <nav>
                            <ul>
                                <li>
                                    <a asp-page="/admin/dashboard"><i class="lni lni-dashboard"></i>Dashboard</a>
                                </li>
                                <li>
                                    <a asp-page="/admin/managerproduct"><i class="lni lni-layers"></i>Manager Product</a>
                                </li>
                                <li>
                                    <a asp-page="/admin/magermentaccount" class="active"><i class="lni lni-users"></i>Manager Account</a>
                                </li>
                                <li>
                                    <a asp-page="login" asp-page-handler="signout"><i class="lni lni-exit"></i>Sign Out</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="post-ad-wrapper box-style">
                    <div class="title">
                        <h3>Profile Settings</h3>
                    </div>
                    <div class="post-ad-form-wrapper">
                        <form method="post" asp-page-handler="UpdateProfile">
                            <input hidden name="accountid" value="@Model.account.AccountId"/>
                            <div class="row">
                                <div class="right-wrapper pt-50">
                                    <h5 class="mb-25">Edit Profile</h5>
                                    <div class="card-body">
                                        <div class="row gutters">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <h6 class="mb-2 text-primary">Personal Details</h6>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label for="firstName">First Name</label>
                                                    <input type="text" class="form-control" name="FirstName" placeholder="Enter First name" value="@Model.account.FirstName">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label for="lastName">Last Name</label>
                                                    <input type="text" class="form-control" name="LastName" placeholder="Enter Last Name" value="@Model.account.LastName">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label for="phone">Phone</label>
                                                    <input type="tel" class="form-control" name="PhoneNumber" placeholder="Enter phone number" value="@Model.account.PhoneNumber">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label for="email">Email</label>
                                                    <input type="email" class="form-control" name="Email" placeholder="Enter your email" value="@Model.account.Email">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label for="username">Username</label>
                                                    <input type="text" class="form-control" name="username" placeholder="username" value="@Model.account.UserName">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label for="type">Type</label>
                                                    <hr>
                                                    @if(Model.account.Type == 1)
                                                    {
                                                        <span>Shop: </span><input type="radio" name="type" value="1" checked>
                                                        <span>User: </span><input type="radio" name="type" value="2">
                                                    }
                                                    else
                                                    {
                                                        <span>Shop: </span><input type="radio" name="type" value="1">
                                                        <span>User: </span><input type="radio" name="type" value="2" checked>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row gutters">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <h6 class="mt-3 mb-2 text-primary">Address</h6>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label for="adrress">Adrress</label>
                                                    <input type="text" class="form-control" name="Address" placeholder="Adrress" value="@Model.account.Address">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label for="ciTy">City</label>
                                                    <input type="text" class="form-control" name="City" placeholder="Enter City" value="@Model.account.City">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <button type="submit" id="submit" name="submit" class="btn btn-primary">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

